* {
  border: 1px solid black;
}

body {
  background-image: url("grass.jpg");
  margin: 0px;
}

.header {
  background-color: #0a2786;
  border: 10px inset red;
  border-radius: 50px;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__menu {
  border: 5px outset red;
  border-radius: 20px;
  background-color: #961919;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
  right: 1%;
}

.header__menu li {
  list-style-type: none;
  padding: 0%;
  margin: 10% 0% 10% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li a {
  text-decoration: none;
  width: 100%;
  padding: 2%;
  margin: 2%;
  background-color: black;
}

.header__menu li a p {
  color: white;
  background-color: black;
  font-size: 1.3em;
  padding: 0%;
  margin: 0%;
}

.header .logo {
  background-color: black;
  border: 8px inset silver;
  border-radius: 39px;
}

.container {
  background-color: #941313;
  margin: 5% 5%;
  padding: 1%;
  border: 10px outset #e20d0d;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__pokedex {
  background-color: #a8dfff;
  border: 10px inset silver;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 1%;
  max-width: 80%;
}

.container__pokedex li {
  border-radius: 10px;
  background-image: url("bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 0;
  font-size: 150%;
  align-items: center;
}

.container__pokedex img {
  border-radius: 100%;
  background-color: white;
  width: 200px;
  margin: 10px;
}

.container__pokedex p {
  border-radius: 10px;
  text-align: center;
  background-color: silver;
  padding: 5%;
  margin: 2%;
}
/*# sourceMappingURL=style.css.map */