*{
    border:1px solid black;
}

body{
    background-image: url("grass.jpg");
    margin:0px;
}



.header{
    background-color: rgb(10, 39, 134);
    border:10px inset red;
    border-radius:50px ;
    padding: 0%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    order: 2;

    &__menu{
        border:5px outset red;
        border-radius:20px;
        background-color: rgb(150, 25, 25);
        position: fixed;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1%;
        right: 1%;

        & li{
            list-style-type: none;
            padding: 0%;
            margin: 10% 0% 10% 0%;
            display: flex;
            justify-content: center;
            width: fit-content;
            text-align: center;
            align-items: center;
            & a{
                text-decoration: none;
                width: 100%;
                padding: 2%;
                margin: 2%;
                background-color: rgb(0, 0, 0);

                & p{
                    color:white;
                    background-color: rgb(0, 0, 0);
                    font-size: 1.3em;
                    padding: 0%;
                    margin: 0%;
                }
            }
        }
    }
    & .logo{
        background-color: black;
        border: 8px inset silver;
        border-radius:39px ;
    }
}


.container{
    background-color:rgb(148, 19, 19);
    margin: 5% 5%;
    padding: 1%;
    border:10px outset #e20d0d;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
        &__pokedex{
        background-color:rgb(168, 223, 255);
        border:10px inset silver;
        border-radius: 50px;
        display: flex ;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: hidden;
        flex-wrap: wrap;
        order: 1;
        padding: 1%;
        max-width: 80%;

        & li{
            border-radius: 10px;
            background-image: url("bg.jpg");
            display: flex;
            flex-direction:column-reverse;
            flex-wrap: wrap;
            align-items: center;
            margin:5px;
            padding: 0;
            font-size: 150%;
            align-items: center;
        }
        & img{
            border-radius: 100%;
            background-color:white ;
            width: 200px;
            margin:10px;
            
        }
        & p{
            border-radius: 10px;
            text-align: center;
            background-color: rgb(192, 192, 192);
            padding: 5%;
            margin: 2%;
        }
    }
}

